#mainContent {
    width: 1024px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

#content {
    width: 1024px;
    max-width: 100%;
    
    
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-bundeslaender {
    width: 33%;
    
}

.bundeslaender {
    border: 10px;
    border-style: solid;
    border-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    
    
    
}

.bundeslaender:hover {
    cursor: pointer;
    border-color: #DDDDDD;
}

h1 {
    background-color: #DDDDDD;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#searchBars {
    display: flex;
}

.letters {
    margin: 5px;
    background-color: #DDDDDD;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.letters:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

@media only screen and (max-width: 800px) {
    #mainContent {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    .div-bundeslaender {
        width: calc(50% - 5px)
    }
}

@media only screen and (max-width: 500px) {
    .div-bundeslaender {
        width: calc(100% - 10px)
    }


h1 {
    font-size: 1em;
    text-align: center;
}
}